:root{
    --primary-color: #F0F2F5;
    --primary-text: #050505;
    --sub-text: #65676b;
    --primary-btn: #1877f2;
    --box-shadow-item: 0 1px 2px rgba(0,0,0,0.2);
    --boder-bottom-item: 1px solid rgb(220, 222, 226);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.hide-item-pc{
    display: none;
}

.hide-item-pc:hover{
    background-color: transparent;
}

.hover-item{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: ease .2s;
}

.hover-item:hover{
    background-color: var(--primary-color);
    filter: brightness(95%);
}

.background-item{
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    filter: brightness(90%);
}
