

/* HEADER */

.header{
    height: 57px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 1px 8px rgb(196, 196, 196);
    padding: 0 15px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background-color: #fff;
}

.header__nav-left{
    display: flex;
    align-items: center;
}

.header__logo-img{
    width: 40px;
    height: 40px;
    margin-right: 8px;
}

.header__search{
    background-color: var(--primary-color);
    width: 300px;
    height: 40px;
    display: flex;
    text-align: center;
    border-radius: 20px;
    padding: 0 12px;
}

.header__search-icon{
    line-height: 40px;
    margin-right: 10px;
    color: #71777F;
}

.header__search-input{
    width: 100%;
    border:none;
    outline: none;
    background-color: transparent;
    font-size: 15px;
}

.header__mobile-search{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 110px;
    display: none;
}

.header__mobile-search-icon{
    font-size: 15px;
    color: #71777F;
}


.header__nav-main{
    color: var(--sub-text);
    display: flex;
    justify-content: space-between;
    width: 636px;
    align-items: center;
    margin-right: 16px;
    
}

.header__nav-main-background-icon{
    width: 20%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: ease-in.2px;
    cursor: pointer;
    margin: 0 6px;
}

.header__nav-main-icon{
    cursor: pointer;
    height: 30px;
    width: 30px;
    line-height: 50px;
    text-align: center;
    margin: 5px;
    transition: ease .3s;
    fill: #65676b;
    padding-bottom: 2px;
    font-size: 24px;
}
.header__nav-main-icon-menu{
    display: none;
    align-items: center;
    justify-content: center;
}
.header__nav-main-background-icon-actived{
    fill: var(--primary-btn);
    border-bottom: 4px solid var(--primary-btn);
}
.header__nav-main-icon-actived{
    fill: var(--primary-btn);
}
.header__nav-main-background-icon:hover{
    background-color: var(--primary-color);
    border-radius: 10px;
}
.header__nav-main-background-icon-actived:hover{
    border-radius: 0;
    background-color: transparent;
}
.header__nav-right{
    display: flex;
    align-items: center;
    
}

.header__user{
    display: flex;
    align-self: center;
    margin-right: 8px;
    cursor: pointer;
    padding: 5px 14px 5px 2px;
    border-radius: 20px;
}
.header__user:hover{
    background-color: #e4e6eb ;
}

.header__user-img{
    width: 28px;
    height: 28px;
    border-radius: 50%;
    border: 1px solid #cccc;
}

.header__user-name{
    font-size: 15px;
    font-weight: 500;
    color: var(--primary-text);
    margin-left: 4px;
    align-self: center;
}

.header__nav-right-icon-plus,
.header__nav-right-icon-bell,
.header__nav-right-down,
.header__nav-right-icon{
    font-size: 18px;
    padding: 10px 10px;
    display: flex;
    align-items: center;
    text-align: center;
    background-color: #e4e6eb;
    margin: 4px;
    border-radius: 50%;
    cursor: pointer;
    transition: .2s;
    position: relative;
}


.header__nav-right-icon-bell{
    padding: 10px 12px;
}

.header__nav-right-bell{
    position: relative;
}
.header__nav-right-bell::before{
    content: "9";
    display: block;
    background-color: #F02849;
    color: #fff;
    position: absolute;
    left: 30px;
    top: -3px;
    font-size: 13px;
    border-radius: 50%;
    font-weight: 500;
    z-index: 1;
    width: 18px;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__nav-right-down{
    padding: 9px 13px;
}
.header__nav-right-icon-down{
    position: relative;
    top: -4px;
    font-size: 22px;

}

.more-section,
.notifi-section,
.create-section,
.messenger-section{
    position: absolute;
    top: 114%;
    right: -96px;
    width: 360px;
    background-color: #fff;
    border-radius: 6px;
    box-shadow:0 2px 4px rgba(0, 0, 0,0.1), 0 12px 28px rgba(0,0,0,0.2);
    display: none;
    user-select: none;
    padding: 12px 16px 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    z-index: 3;
}

.create-section{
    right: -142px;
}
.notifi-section{
    right: -46px;
    top: 100%;
    padding: 12px;
    height: 90vh;
    overflow-y: hidden;
}
.more-section{
    right: -13px;
    top: 172%;
}
.notifi-section::-webkit-scrollbar {
    width: 8px;
    cursor: pointer;
}

.notifi-section::-webkit-scrollbar-thumb:hover {
    background: #ccc;
  }

.notifi-section:hover{
    overflow-y: scroll;
}



.messenger-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--primary-text);

}

.messenger-heading{
    font-size: 24px;
}

.messenger-heade-icon-wrap{
    display: flex;
}
.messenger-heade-icon{
    font-size: 16px;
    color: var(--sub-text);
    margin: 0 6px;
}

.messenger-search-wrap{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 36px;
    border-radius: 20px;
    padding: 0 12px;
    margin-top: 14px;
    background-color: var(--primary-color);
    color: var(--sub-text);
}

.messenger-search-icon{
    margin-right: 8px;
    font-size: 15px;

}

.messenger-search-input{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 15px;
}

.messenger-body{
    padding: 16px;
    font-size: 17px;
    color: var(--primary-text);
    border-bottom: var(--boder-bottom-item);
}
.messenger-body h4{
    font-weight: 400;
    cursor: text;

}
.messenger-footer{
    padding: 17px 0 4px;
    font-size: 15px;
    color: var(--primary-btn);
    font-weight: 500;
}
.messenger-footer span:hover{
    text-decoration: underline;
}

.create-section_heading{
    font-size: 24px;
    text-align: left;
}
.create-section_item-wrap{
    margin-top: 14px;
    padding-bottom: 13px;
    border-bottom:var(--boder-bottom-item);
}
.create-section_item{
    display: flex;
    padding: 8px;
    border-radius: 8px;
}
.create-section_item:hover {
    background: var(--primary-color);
}
.create-section_icon{
    font-size: 20px;
}
.create-section_item-content{
    font-size: 14px;
    text-align: left;
    margin-left: 14px;
}
.create-section_item-content-name{
    font-weight: 500;
    font-size: 15px;
}
.create-section_item-desc-name{
    font-weight: 400;
    font-size: 13px;
    color: var(--sub-text);
    margin-top: 6px;
}


.notifi-header,
.notifi-content__head,
.notifi-content__item{
    padding-left: 4px;
    padding-right: 4px;
}

.notifi-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.notifi-heading{
    font-size: 24px;
    color: var(--primary-text);
}


.notifi-content{
    
}

.notifi-content__head{
    padding: 18px 0 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.notifi-content__heading{
    font-size: 17px;
    color: var(--primary-text);
    font-weight: 500;
}

.notifi-content__head span{
    font-size: 15px;
    color: var(--primary-btn);
    font-weight: 400;
    width: 88px;
    height: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    cursor: pointer;
}

.notifi-content__head span:hover{
    background-color: var(--primary-color);
}

.notifi-content__item{
    display: flex;
    padding: 0 6px;
    cursor: pointer;
    border-radius: 8px;
    align-items: center;

}
.notifi-content__item:hover{
    background-color: var(--primary-color);
}

.notifi-content__item-image{
    display: flex;
    flex-direction: column;
    position: relative;
    top: 13px;
    margin-right: 18px;
}
    

.notifi-content__item-image-img{
    height: 56px;
    width: 56px;
    border-radius: 50%;
    position: relative;
}

.notifi-content__item-image-sub-img{
    position: relative;
    top: -27px;
    right: -35px;
}

.notifi-content__item-info{
    margin-right: 14px;
    font-size: 15px;
    color: var(--primary-text)
}

.notifi-content__item-info-name{
    font-weight: 700;
    opacity: .9;
}

.notifi-content__item-info-time{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.notifi-content__item-info-time span{
    font-size: 12px;
    color: var(--primary-btn);
    font-weight: 700;
}

.notifi-content__item-info-time-icon{
    margin-top: -14px;
    font-size: 13px;
    color: var(--primary-btn);
}

.more-section{
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 0;
}

.more-section__item-wrap{
    display: block;
    padding-bottom: 16px;
    border-bottom: var(--boder-bottom-item);

}
.more-section__item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    padding: 4px 10px;
    border-radius: 8px;
}
.more-section__item:hover{
    background-color: var(--primary-color);
}

.more-section__img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid #ccc;
}

.more-section__info{
    margin-left: 14px;
    margin-right: auto;
}

.more-section__info-name{
    font-size: 17px;
    color: var(--primary-text);
    font-weight: 500;
    display: block;
    text-align: left;

}

.more-section__info-desc{
    font-size: 13px;
    color: var(--sub-text);
    font-weight: 400;
    display: block;
    text-align: left;
    margin-top: 6px;
    line-height: 1.4;
}

.more-section__item-icon{
    font-size: 20px;
    margin: 8px 0;
}
.more-section__right-icon{
    color: var(--sub-text);
    opacity: .7;
}

.more-section__footer{
    font-size: 12px;
    text-align: left;
    padding: 0 12px;
    font-weight: 400;
    color: var(--sub-text);
}

.more-section__footer-link{
    text-decoration: none;
    color: var(--sub-text);
}
.more-section__footer-link:hover{
    text-decoration: underline;
}


/* Checkbox */
.header__nav-right-icon-input:checked ~ .messenger-section{
    display: block;
}
.header__nav-right-icon-plus-input:checked ~ .create-section{
    display: block;
}
.header__nav-right-icon-notifi-input:checked ~ .notifi-section{
    display: block;
}
.header__nav-right-icon-more-input:checked ~ .more-section{
    display: block;
}

/* Container */

.container{
    background-color: var(--primary-color);
    height: 100%;
    width: 100%;
    margin-top: 57px;
    display: flex;
    justify-content: space-between;
}


/* Sidebar Left */

.container__sidebar-left{
    width: 23%;
    padding-left: 15px;
    padding-top: 18px;
    height: 100%;
    position: fixed;
    overflow-y: hidden;
    padding-bottom: 100px;
    z-index: 1;
    background: var(--primary-color);
}
.container__sidebar-left:hover{
    overflow-y: scroll;
}

.container__sidebar-left::-webkit-scrollbar {
    width: 8px;
    cursor: pointer;
}
.container__sidebar-left::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 10px;
    transition: all 0.55s linear;
  }

.container__sidebar-left-list{
    list-style: none;
    padding-bottom: 16px;
}

.container__sidebar-left-list:first-child{
    border-bottom: 1px solid #dcdee2;
    
}

.container__sidebar-left-item{
    padding: 8px;
    border-radius: 5px;
    transition: ease .2s;
}
.container__sidebar-left-item:hover{
    background-color: var(--primary-color);
    filter: brightness(95%);
}

.container__sidebar-left-link{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--primary-text);
} 
.container__sidebar-left-link span{
    font-weight: 500;
    margin-left: 14px;
    font-size: 15px;
}
.container__sidebar-left-img{
    height: 36px;
    width: 36px;
    border-radius: 50%;
    text-align: center;
    line-height: 36px;
}
.container__sidebar-left-img-down{
    background-color: #e4e6eb;
}
.container__sidebar-left-heading-wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container__sidebar-left-heading{
    color: var(--sub-text);
    font-weight: 500;
    font-size: 17px;
    padding-left: 10px;
    margin: 14px 0;
    display: block;
}
.container__sidebar-left-fix{
    text-decoration: none;
    color: var(--primary-btn);
    font-size: 15px;
    display: none;
    padding: 8px;
    border-radius: 5px;
}
.container__sidebar-left-fix:hover{
    background-color: var(--primary-color);
    filter: brightness(95%);

}
.container__sidebar-left-list:hover .container__sidebar-left-fix{
    display: block;
}

.container__sidebar-left-footer{
    font-size: 12px;
    color: var(--sub-text);

}
.container__sidebar-left-footer-link{
    text-decoration: none;
    color: var(--sub-text);

}

/* SideBar Main */

.container__sidebar-main{
    width: 52%;
    margin: 0 auto;
    padding: 25px 90px;
}
.container__sidebar-main-story-wrap{
    width: 100%;
    display: flex;
    position: relative;
}

.container__sidebar-main-story-item-added,
.container__sidebar-main-story-item{
    height: 198px;
    width: 25%;
    border-radius: 8px;
    background-color: #fff;
    text-decoration: none;
    color: var(--primary-text);
    padding-bottom: 8px;
    position: relative;
    margin: 0 4px;
    box-shadow: var(--box-shadow-item);
    transition: ease-in .1s;
}

.container__sidebar-main-story-item:hover{
    filter: brightness(80%);
}
.container__sidebar-main-story-item-added{
    padding-bottom: 0;
    position: relative;
    box-shadow: var(--box-shadow-item);

}

.container__sidebar-main-story-item-added:hover{
    filter: brightness(80%);
}
.container__sidebar-main-story-added-img,
.container__sidebar-main-story-img-user{
    width: 100%;
    height: 80%;
    object-fit: cover;
    display: block;
    filter: brightness(90%);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;

}
.container__sidebar-main-story-added-img{
    height: 100%;
    border-radius: 8px;
}

.container__sidebar-main-story-plus{
    height: 20%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    font-size: 13px;
    font-weight: 500;

}

.container__sidebar-main-story-add{
    position: absolute;
    top: 67%;
    right: 34%;
    background-color: #fff;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.container__sidebar-main-story-add-icon{
    width: 32px;
    height: 32px;
    background-color: #166ADA;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.container__sidebar-main-story-added{

}
.container__sidebar-main-story-added-img{
    position: relative;

}
.container__sidebar-main-story-added-img-small{
    position: absolute;
    top: 10px;
    left: 10px;
    width: 38px;
    height: 38px;
    border: 4px solid var(--primary-btn);
    border-radius: 50%;
}
.container__sidebar-main-story-name{
    position: absolute;
    color: #fff;
    font-size: 13px;
    font-weight: 500;
    left: 12px;
    bottom: 6px;
}

.container__sidebar-main-story-item-added-right-icon{
    position: absolute;
    top: 66px;
    right: -22px;
    font-size: 16px;
    width: 40px;
    height: 40px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid #ccc;
    color: var(--sub-text);
}

.container__sidebar-main-story-item-added-right-icon:hover{
    filter: brightness(95%);
    cursor: pointer;
}

/* Container Post */
.container__sidebar-main-post-wrap{
    background-color: #fff;
    margin-top: 22px;
    border-radius: 8px;
    padding: 12px 16px 10px;
    box-shadow: var(--box-shadow-item);

}

.container__sidebar-main-post-item{
    display: flex;
    align-items: center;
    border-bottom: var(--boder-bottom-item);
    padding-bottom: 12px;
}

.container__sidebar-main-post-item-img{
    width: 41px;
    height: 41px;
    border-radius: 50%;
    border: 1px solid #ccc;
}

.container__sidebar-main-post-input{
    flex: 1;
    height: 40px;
    border-radius: 20px;
    border: none;
    outline: none;
    background-color: var(--primary-color);
    padding: 16px;
    font-size: 17px;
    margin-left: 8px;
    color: var(--primary-text);
}

.container__sidebar-main-post-selection{
    display: flex;
}
.container__sidebar-main-post-selection-item{
    margin-top: 8px;
    width: 33.3333%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    cursor: pointer;
    transition: ease .2s;

}
.container__sidebar-main-post-selection-item:hover{
    background-color: var(--primary-color);
    border-radius: 8px;
}

.container__sidebar-main-post-selection-item span{
    color: var(--sub-text);
    font-weight: 500;
    margin-left: 8px;
}

.container__sidebar-main-post-livestream-icon,
.container__sidebar-main-post-image-icon,
.container__sidebar-main-post-feel-icon{
    font-size: 24px;

}

.container__sidebar-main-post-livestream-icon{
    color: #E42A49;
}

.container__sidebar-main-post-image-icon{
    color: #41B35D;
}

.container__sidebar-main-post-feel-icon{
        color: #F8C140;
}

/* Main News */
.container__sidebar-main-news{
    background-color: #fff;
    margin-top: 16px;
    border-radius: 8px;
    box-shadow: var(--box-shadow-item);
}

.container__sidebar-main-news-header-wrap{
    padding: 12px 16px;
    border-bottom: var(--boder-bottom-item) ;
    box-shadow: var(--box-shadow-item);
}

.container__sidebar-main-news-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
}

.container__sidebar-main-header-info-wrap{
    display: flex;
}

.container__sidebar-main-header-info-img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #e6e7e8;
}

.container__sidebar-main-header-info{
    margin-left: 8px;
}

.container__sidebar-main-header-info-name{
    font-size: 15px;
    font-weight: 500;
}

.container__sidebar-main-check-icon{
    color: #e84118;
    font-size: 12px;
}

.container__sidebar-main-header-info-time{
    font-size: 13px;
    color: var(--sub-text);
}

.container__sidebar-main-header-globe{
    font-size: 12px;
}

.container__sidebar-main-header-more-icon{
    color: var(--sub-text);
    cursor: pointer;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}
.container__sidebar-main-header-more-icon:hover{
    background-color: var(--primary-color);

}

.container__sidebar-main-news-content{
    font-size: 15px;
    color: var(--primary-text);
}

.container__sidebar-main-news-img{
    width: 100%;
    border-bottom: var(--boder-bottom-item);
}
.container__sidebar-main-news-interact-wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 16px;
    border-bottom: var(--boder-bottom-item);
}

.container__sidebar-main-news-feel-wrap{
    display: flex;
    align-items: center;
    margin-right: 8px;
}



.container__sidebar-main-news-feel-icon{
    width: 18px;
    height: 18px;
    cursor: pointer;

}

.container__sidebar-main-news-feel-quatity-mobile:hover,
.container__sidebar-main-news-feel-quatity,
.container__sidebar-main-news-cmt,
.container__sidebar-main-news-share{
    font-size: 15px;
    color: var(--sub-text);
    cursor: pointer;
}
.container__sidebar-main-news-feel-quatity-mobile:hover,
.container__sidebar-main-news-feel-quatity:hover,
.container__sidebar-main-news-cmt:hover,
.container__sidebar-main-news-share:hover{
    text-decoration: underline;
}

.container__sidebar-main-news-cmt{
    margin-left: auto;
}

.container__sidebar-main-news-share{
    margin-left: 10px;
}

.container__sidebar-main-news-option{
    display: flex;
    padding: 2px 16px;
    transition: ease-in .2s;
}

.container__sidebar-main-news-option-item{
    width: 33.3333%;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: var(--sub-text);
    border-radius: 4px;
}
.container__sidebar-main-news-option-item:hover{
    background-color: var(--primary-color);
}
.container__sidebar-main-news-option-icon{
    width: 18px;
    height: 18px;
    margin-right: 16px;
    fill: var(--sub-text);
}

/* SideBar Right */
.container__sidebar-right{
    width: 25%;
    padding-left: 15px;
    padding-top: 18px;
    height: 100%;
    position: fixed;
    right: 0;
    overflow-y: hidden;
    padding-bottom: 0;
    background-color: var(--primary-color);
}
.container__sidebar-right:hover{
    overflow-y: scroll;
}
.container__sidebar-right::-webkit-scrollbar {
    width: 8px;
    cursor: pointer;
}
.container__sidebar-right::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 10px;
    transition: all 0.55s linear;
  }


.container__sidebar-right-sponsor{
    border-bottom: 1px solid #dcdee2;
    padding-bottom: 10px;

}

.container__sidebar-right-sponsor-heading{
    font-size: 17px;
    color: var(--sub-text);
    font-weight: 500;
    margin-left: 10px;
}

.container__sidebar-right-sponsor-item-wrap{
    margin-top: 8px;
}

.container__sidebar-right-sponsor-item{
    display: flex;
    padding: 10px 10px;
    border-radius: 5px;
    transition: ease .2s;
    text-decoration: none;

}
.container__sidebar-right-sponsor-item:hover{
    background-color: rgba(0, 0, 0, 0.05);
}

.container__sidebar-right-sponsor-img{
    width: 131px;
    height: 131px;
    border-radius: 5px;
    object-fit: cover;
}

.container__sidebar-right-sponsor-info{
    margin-left: 12px;
    align-self: center;
}

.container__sidebar-right-sponsor-name{
    font-size: 15px;
    color: var(--primary-text);
    font-weight: 500;
}   

.container__sidebar-right-sponsor-desc{
    font-size: 13px;
    color: var(--sub-text);
}

.container__sidebar-right-mypage{
    display: flex;
    justify-content: space-between;
    padding: 10px 10px 10px 0;
    border-bottom: 1px solid #dcdee2;
    color: var(--sub-text);

}
.container__sidebar-right-mypage-heading{
    font-size: 17px;
    font-weight: 500;
}
.container__sidebar-right-mypage-icon{
    font-size: 12px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.container__sidebar-right-mypage-icon:hover{
    background-color: var(--primary-color);
    filter: brightness(95%);
}
.container__sidebar-right-friends{
    padding: 10px 10px 10px 0;
    border-bottom: 1px solid #dcdee2;

}

.container__sidebar-right-friends-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container__sidebar-right-friends-heading{
    font-size: 17px;
    font-size: 17px;
    color: var(--sub-text);
    font-weight: 500;
}

.container__sidebar-right-friends-search-icon{
    margin-left: auto;
    font-size: 17px;
    color: var(--sub-text);
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container__sidebar-right-friends-extend-icon{
    font-size: 17px;
    color: var(--sub-text);
    margin-left: 20px;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: -10px;
}
.container__sidebar-right-friends-search-icon:hover,
.container__sidebar-right-friends-extend-icon:hover{
    background-color: var(--primary-color);
    filter: brightness(95%);
    border-radius: 50%;
    cursor: pointer;
}

.container__sidebar-right-friends-list{
    list-style: none;
    margin-top: 16px;
}
.container__sidebar-right-friends-item{
    padding: 6px;
    border-radius: 10px;
}

.container__sidebar-right-friends-item:hover{
    background-color: var(--primary-color);
    filter: brightness(93%);
    transition: ease .2s;
}

.container__sidebar-right-friends-link{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--primary-text);
    font-weight: 500;
}
.container__sidebar-right-friends-img{
    width: 36px;
    height: 36px;
    border-radius: 50%;
    object-fit: cover;
}
.container__sidebar-right-friends-img-wrap{
    position: relative;
}
.container__sidebar-right-friends-img-wrap::before{
    content: "";
    display: block;
    height: 8px;
    width: 8px;
    position: absolute;
    right: 3px;
    bottom: 7px;
    background-color: #31a24c;
    border-radius: 50%;
    z-index: 1;
}
.container__sidebar-right-friends-img-wrap::after{
    content: "";
    display: block;
    height: 11px;
    width: 11px;
    position: absolute;
    right: 1px;
    bottom: 5px;
    background-color: var(--primary-color);
    border-radius: 50%;
}
.container__sidebar-right-friends-name{
    margin-left: 12px;
}
.container__sidebar-right-add-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #e4e6eb;
    color: var(--primary-text);
    font-size: 17px;
}

.write-post{
    position: fixed;
    bottom: 16px;
    right: 22px;
    width: 50px;
    height: 50px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow:0 2px 4px rgba(0, 0, 0,0.1), 0 12px 28px rgba(0,0,0,0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #1e2024;
}

.write-post-icon{
    margin-left: 3px;
    font-size: 20px;

}
